<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Marjorie Denis{% endblock %}</title>
    <meta name="description" content="Découvrez le yoga, le mouvement somatique et la pleine conscience avec Marjorie Denis pour retrouver équilibre, énergie et bien-être au quotidien.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="pleine conscience, mouvements somatiques, yoga">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+ES+Deco+Guides&family=Playwrite+IE:wght@100..400&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="asset/img/ouroboros.png">
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    <script src="{{ asset('build/vendor.js') }}" defer></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body style="background-image: url('asset/img/paysage_cheveux_retouche.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;">
    <nav class="navbar navbar-expand-lg fixed-top pe-5">
        <div class="container-fluid d-flex justify-content-between" id="navBar">
            <a id="logo" class="nav-link fs-1 fw-bold" href="/" alt="retour à l'accueil">Marjorie Denis<br><p class="fs-5">Accompagnement psychocorporel</p></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/mes-pratiques" alt="lien vers mes pratiques"><strong>Mes pratiques</strong></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/accompagnement" alt="lien vers accompagnement"><strong>Accompagnement</strong></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/déontologie" alt="lien vers déontologie"><strong>Déontologie</strong></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/séances" alt="lien vers séances"><strong>Séances</strong></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/qui-suis-je" alt="lien vers qui suis-je"><strong>Qui suis-je ?</strong></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/témoignages" alt="lien vers les témoignages"><strong>Témoignages</strong></a>
                </li>
                <li class="nav-item mx-2 pe-3">
                    <a class="nav-link" href="/contact"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
<footer class="footer text-white py-3" style="
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1030;">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center container">
    
    <!-- Copyright -->
    <div class="mb-2 mb-md-0 d-flex align-items-center">
      <span class="me-2">Copyright &copy;</span>
      <span id="currentYear"></span>
    </div>

    <!-- Mentions légales -->
    <div class="mb-2 mb-md-0">
      <a href="/mentions-légales" class="text-white text-decoration-none">Mentions légales</a>
    </div>

    <!-- Powered by -->
    <div>
      <a href="https://justin-cornu.fr/" class="text-white text-decoration-none" target="_blank" rel="noopener noreferrer">Powered by <strong>Justin CORNU</strong></a>
    </div>
  </div>
</footer>
</body>
<script>
  // Génère automatiquement l'année actuelle
  document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
</html>
