<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Corps et conscience by Marjorie Denis{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+ES+Deco+Guides&family=Playwrite+IE:wght@100..400&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="asset/img/yin-yang.png">
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    <script src="{{ asset('build/vendor.js') }}" defer></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body style="background-image: url('asset/img/paysage_cheveux_retouche.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;">
    <nav class="navbar navbar-expand-lg fixed-top pe-5">
        <div class="container-fluid d-flex justify-content-between" id="navBar">
            <img src="asset/img/logo_cc_transparent_darker.png" alt="Logo" height="150px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-row ml-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link fs-3" href="{{ path('app_home') }}" alt="retour à l'accueil"><strong>Accueil</strong></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fs-3" href="{{ path('app_my_practices') }}" alt="lien vers mes pratiques"><strong>Mes pratiques</strong></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fs-3" href="{{ path('app_who_am_i') }}" alt="lien vers qui suis-je"><strong>Qui suis-je ?</strong></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fs-3" href="{{ path('app_testimonials') }}" alt="lien vers les témoignages"><strong>Témoignages</strong></a>
                </li>
                <li class="nav-item mx-3 pe-5">
                    <a class="nav-link fs-3" href="{{ path('app_contact') }}"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>
